
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.error-message {
  color: red;
}

.hidden {
  display: none;
}

li{
  list-style: none;
}

.container ul li img{
  width:100%;
}

.flex-container{
  margin-top:5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right:5%;
  margin-left:5%;
}

li a div{
  background-color: white;
  height: 280px;
  width:400px;
  margin: 13px;
  border: 1px solid black;
  padding:3%;
  color:black;
  text-decoration: none;
}

a{
  text-decoration: none;
}

.box1 {
  text-align:center;
  line-height: 25px;
  font-size: 17px;
}

.box2{
  text-align:right;
  line-height: 43px;
  font-size: 19px;
}

.box3{
  text-align:left;
  line-height: 15px;
  font-size: 14px;
}

.box4{
  text-align:center;
  font-size: 28px
}

.flex-container > li> a:hover > div{
  transform: scale(1.1);
}

textarea{
  height:250px;
  width:90%;
  margin:3%;
  font-size:20px;
  font-family: roboto;
}

.send-to{
  margin:2%;
}

div p{
  position:absolute;
  right: 50%; 
  top: 20%; 
  color:white;
  text-align:center;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:50%;
  height:50%;
}

.dropdown{
  display:flex;
  flex-direction: row;
  justify-content:center;
  margin:15px;
}

select {
  margin:10px;
}

/* Media queries*/
@media only screen and (max-width:1000px){

  ul > .flex-container > li > div {
    height: 260px;
    width:370px;
  }

  .box1{
    font-size:15px;
  }

  .box2{
    font-size:15px;
    line-height:38px;
  }
  .box3{
    line-height: 14px;
  }

}

@media only screen and (max-width:600px){

  ul > .flex-container > li > div {
    height: 230px;
    width:330px;
  }

  .box1{
    font-size:14px;
  }

  .box2{
    font-size:15px;
    line-height:36px;
  }
  .box3{
    line-height: 13px;
  }

}






