
* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

button, input[type="text"] {
  padding: 5px;
}

button:hover {
  cursor: pointer;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.error-message {
  color: red;
}

.hidden {
  display: none;
}

li{
  list-style: none;
}

.container ul li img{
  width:100%;
}

.flex-container{
  margin-top:5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-right:5%;
  margin-left:5%;
}


ul > .flex-container > li > div {
  background-color: white;
  height: 280px;
  width:400px;
  margin: 10px;
  border: 1px solid black;
  padding:3%;
  position: relative;

}


.box1{
  text-align:center;
  line-height: 25px;
  font-size: 17px;
}

.box2{
  text-align:right;
  line-height: 43px;
  font-size: 19px;
}

.box3{
  text-align:left;
  line-height: 15px;
  font-size: 14px;
}

.box4{
  text-align:center;
  font-size: 28px
}

ul > li > .imgAppended > a > img{
 height:280px;
 width:400px;
 padding:3%;
 margin:10px;
 transition: transform .15s; 
}

ul > li > .imgAppended > a:hover img{
  transform: scale(1.2);
}


/* Media queries*/
@media only screen and (max-width:1000px){

  ul > .flex-container > li > div {
    height: 260px;
    width:370px;
  }

  .box1{
    font-size:15px;
  }

  .box2{
    font-size:15px;
    line-height:38px;
  }
  .box3{
    line-height: 14px;
  }

}

@media only screen and (max-width:600px){

  ul > .flex-container > li > div {
    height: 230px;
    width:330px;
  }

  .box1{
    font-size:14px;
  }

  .box2{
    font-size:15px;
    line-height:36px;
  }
  .box3{
    line-height: 13px;
  }

}






